@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web:wght@700&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.containder_grid{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

h1{
    display: none;
}

header{
    background-color: #1E1C21;
    height: 80px;
}

 .cabecalho_alinhamento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
 }

 .menu{
    width: 660px;
    display: flex;
    justify-content: space-between;
 }

.menu a{
    width: 660px;
    display: flex;
    justify-content: space-between;
}

.menu a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#ffff ;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

.menu a:hover{
scale: 1.1;
}

.barras{
    display: none;
}

.cabecalho_alinhamento svg{
    width: 30px;
    fill: white;
}

.banner{
    background-image: url(../img/ImagemBanner.png);
    height: 600px;
    background-size: cover;
}

.posicao_texto{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.texto_banner{
    color: white;
    text-align: center;
}

.texto_banner span{
    font-size: 80px;
    font-family: 'Titillium Web', sans-serif; ;
}

.texto_banner p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
    font-size: 25px;
    margin-bottom: 80px;
}


.texto_banner a{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;  
    text-transform: uppercase;
    text-decoration: none;
    background-color: #C31616;
    padding: 12px 32px;
    border-radius: 10px;
}   

.secao_jogos{
    background-color: black;
    

}
.linha_jogos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 30px 0;
}

.ofertas{
   background-color:#1E1C21 ; 
   padding: 30px 0;
}

h2{
    color: white;
}
.secao_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
}

.card{
    width: 215px;
    margin: 20px;
    box-shadow: 0 0 10px #C31616;
    background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(139,139,139,1) 100%);
    color: white;
    padding-bottom: 10px;
}

.card a{
    text-decoration: none;
    background-color: #C31616;
    padding: 12px 38px;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    margin: 15px;
    text-align: center;

}

.card * :not(:first-child){
   margin: 5px 10px;
}

footer{
    background-color: #010101 ;
}

.rodape{
    display: flex;
    justify-content: space-around;
}


.links_footer{
    display: flex;
    color: white;
}

.links_footer a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
}

footer .box_logo{
    display: flex;
    justify-content: center;
    align-items: center;

}

.box_logo.logo{
   height: 30px;
   width: 282px;

}

.info_contado{
    color: white;
}

@media screen and (max-width: 1200px) {
   .Logo{
       width: 250px;
       margin-right: 20px;
   }
   
   
    .menu{
        width: 550px;
    }
    
    .menu a{
        font-size: 16px;
    }
    
}

@media screen and (max-width: 768px) {
    .cabecalho_alinhamento{
        position: relative;
    }
    
    .menu{
        display: none;
        flex-direction: column;
        width: 150px;
        position: absolute;
        right: 0;
        top: 70px;
        background-color: #000000dd;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px black;
        }

        .menu a{
            margin: 5px;
            text-align: end;
        }

        .barras{
        display: flex;
        
    }
}